<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malikjunaid.drhearing"
    android:versionCode="10"
    android:versionName="10" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
   
        <activity
            android:name="com.malikjunaid.drhearing.MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.StartTest"
            android:label="@string/start_test"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.HearingTestActivity"
            android:label="@string/testing_screen"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.FragmentFrequency"
            android:label="@string/testing_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.FrequencyGenerator"
            android:label="@string/testing_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.FragmentAudiogram"
            android:label="@string/testing_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.TestResults"
            android:label="@string/results_sreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.LoadTestActivity"
            android:label="@string/loadprev_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.MoreInfo"
            android:label="@string/moreinfo_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.MoreInfo2"
            android:label="@string/moreinfo2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.InfoView1"
            android:label="@string/Infoview1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.InfoView2"
            android:label="@string/Infoview2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.InfoView3"
            android:label="@string/Infoview3" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malikjunaid.drhearing.InfoView4"
            android:label="@string/Infoview4" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
    </application>

</manifest>